body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(./bg\ sheilah.webp);
}
nav {
            background-color: #444;
            color: #fff;
            width: 200px;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            position: relative;
        }

header {
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
}

section {
    max-width: 800px;
    position: absolute;
    top: 25%;
    right:5px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    border-radius: 50%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    text-align: justify;
}

.social-links {
    text-align: left;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    color: #007BFF; /* Light blue color */
    margin: 0 10px;
    font-size: 1.5em;
}
.navbarspecial{
    background-color: orangered;
    background-color: cover;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.d-flex{
    
    color: purple;
}
h5{
    font-style: italic;
}